/* #sfx_badge_logo {
    position: relative;
    z-index: 351;
    color: white;
    font-size: calc(0.45rem * var(--sfx_ui_scale));
    text-align: center;
    height: 30px;
    width: 30px;
    box-shadow: rgb(28, 28, 28) 3px 3px 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    opacity: 0.2 !important;
    border-radius: 5px !important;
    background: url(https://cdn3.iconfinder.com/data/icons/picons-social/57/06-facebook-64.png) center center no-repeat rgb(44, 65, 102) !important;
} */

/* ## black facebook icon */
/* 
#sfx_badge_logo {
    position: relative !important;
    overflow: hidden !important;
    background: #555555 !important;
    text-indent: -999em !important;
    width: 20px !important;
    height: 26px !important;
    border-radius: 5px !important;
    border: 7px solid #555555 !important;
    border-bottom: 0 !important;
    display: inline-block !important;
    opacity: 0.2 !important;
    background: none;
}
  
#sfx_badge_logo::before {
    content: "/20";
    position: absolute;
    bottom: -30%;
    right: -40%;
    width: 40%;
    height: 80%;
    border: 5px solid #eee;
    border-radius: 20%;
}
  
#sfx_badge_logo::after {
    background: #eee;
    content: "/20";
    position: absolute;
    top: 50%;
    right: 3%;
    width: 60%;
    height: 15%;
} */

#sfx_badge_logo {
    display: block;
    position: relative;
    opacity: 0.3;
    background: url(https://cdn3.iconfinder.com/data/icons/picons-social/57/06-facebook-64.png) center center no-repeat rgb(44, 65, 102) !important;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px;
}
#sfx_badge_logo::after,
#sfx_badge_logo::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 2px;
    background: currentColor;
    border-radius: 1px
}
#sfx_badge_logo::before {
    bottom: 2px;
    width: 10px;
    height: 10px;
    opacity: .5
}
#sfx_badge_logo::after {
    top: 2px;
    width: 6px;
    height: 2px
}

#sfx_options_dialog{
    width: 100%;
    height: 100vh;
}

#sfx_options_dialog_header{
    max-height:30px;
}

.sfx_options_dialog_option_action, .sfx_options_dialog_table td{
    vertical-align: middle !important;
    background-color: #242526 !important;
}

#sfx_badge_menu_wrap, #sfx_options_dialog, #sfx_options_dialog_body, 
.sfx_options_dialog_option_description, .sfx_options_dialog_panel_header, .sfx_options_dialog_option_title, .sfx_options_dialog_section, .sfx_options_dialog_panel {
    vertical-align: top !important;
    color: #ffffff !important;
    background-color: #242526 !important;
}

.sfx_options_dialog_panel_header, .sfx_options_dialog_panel_header{
    clear: both;
    position: relative;
    left: -0.5%;
    font-size: 22px;
    padding: 5px 5px;
    margin: 80px 0px 20px;
    background-color: #2a66a1 !important;
}

.sfx_options_dialog_section{
    border: 1px solid gray;
    box-sizing: border-box;
}

.sfx_options_dialog_section.selected{
    background-color: rgb(66, 103, 178) !important;
    color: white !important;
    cursor: auto;
}

#sfx_options_dialog{
    border: 1px solid lightblue;
}

#sfx_options_dialog_content .sfx_options_dialog_table tr:hover, .sfx_options_dialog_table tbody tr:hover td{
    background-color: #242526 !important;
}

#sfx_menu_section_links, #sfx_menu_section_debug{
    display: none !important;
}
#sfx_options_dialog_section input.sfx_input{
    color: white;
    background-color: black;
    padding: 0 5px;
    border: none !important;
}
.sfx_options_dialog_option_action input.sfx_button{
    margin: 8px 0;
}

.sfx_options_dialog_option_description input{
    color: white;
    background-color: black;
    padding: 0 5px;
}

.sfx_options_dialog_option_description input[type="number"]{
    margin-left: 5px;
}

.sfx_dialog input[type="checkbox"]:not(.normal) ~ label {
    margin: 6px 0;
    box-shadow: none !important;
    background-color: darkgray;
    border: 1px solid darkgray;
}

.sfx_dialog input[type="checkbox"]:not(.normal):checked ~ label {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #6e9cff;
}

.sfx_menu_section_title, .sfx_panel_title_bar{
    margin-bottom: 8px !important;
    padding: 2px 14px 5px !important;
    font-size: 15px !important;
    pointer-events: none !important;
    cursor: default !important;
    background-color: #3f38c1;
    color: white !important;
}

.sfx_square_control{
    margin: 0px 3px;
    border: 1px solid gray;
    background-color: black;
    font-size: 15px;
    font-weight: 800;
}

.sfx_square_add{
    background-color: #242526;
    padding: 0 2px 3px;
    border: 1px solid gray;
}

.sfx_info{
    display:none !important;
}

/* textarea#sfx_user_data{ */
textarea{
    color: white;
    background-color: black;
    padding: 15px;
}

#sfx_options_dialog_sections > div:nth-child(9), #sfx_options_dialog_sections > div:nth-child(10), #sfx_options_dialog_sections > div:nth-child(11), #sfx_options_dialog_sections > div:nth-child(12){
    display: none !important;
}

/* Facebook content */
.xylbxtu {
    max-width: 2400px;
}

div[role="main"]{
    margin: 0 auto;
    max-width: 1240px;
}

html[sfx_context_type="newsfeed"] .__fb-dark-mode > div > div[role="main"]{
    position: relative;
    left: 10%;
}

html[sfx_context_type="newsfeed"] div[role="main"] > div > div > div > div:nth-child(2), div[role="main"] > div > div > div > div:nth-child(2) > div > div> div {
    width: 1220px;
    max-width: 100%;
}

html[sfx_context_type="newsfeed"] div[role="main"] > div > div > div > div:last-child > div:first-child {
  width: 100%;
}

html[sfx_context_type="messages"] div[role="main"]{
    width: 100%;
    max-width: 100%;
}
html[sfx_context_type="messages"] div[role="main"] div[role="main"] {
    left: 0px;
    width: 100%;
    max-width: 100%;
    padding: 0px 25px;
}

/* .x1yztbdb > div {
    width: initial;
    max-width: 590px;
}
 */
/* 
html[sfx_context_type="profile"] div[role="main"] > div > div > div > div:last-child > div:first-child{
    width: unset;
}
 */
/* 
@media (min-height: 790px)
div[role="main"] > div > div > div > div:last-child > div:first-child {
  width: 1020px;
} */
